.prices{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    padding-top: 85px;
}
.prices__title{
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 36px;
}
.prices__text{
    color: #86878B;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 79px;
}
.prices__wrap{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 80px;
}
.prices__items{
    max-width: 370px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #FFFFFF;
    height: 100%;
}
.prices__items:nth-of-type(2) {
    margin-top: -20px;
}
.prices__item_top{
    list-style:none;
    background: #333333;
    border-bottom: 2px solid #F5F5F5;
    color: #FFFFFF;
}
.prices__item_top:nth-child(1){
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    padding: 18px;
}
.prices__item_top:nth-child(2){
    font-weight: 700;
    font-size: 36px;
    padding: 32px;
}
.prices__item_top:nth-child(3){
    color: #ffffff80;
    font-weight: 400;
    font-size: 18px;
    padding: 16px;
}
.prices__item{
    list-style:none;
    font-weight: 400;
    font-size: 18px;
    padding: 16px;
    color: #86878B;
    border-bottom: 2px solid #F5F5F5;
    text-transform: capitalize;
}