header{
    height: 75px;
}
footer{
    height: 164px;
}
.wrap_banner{
    height: 1026px;
}

/*CSS SECTION AWESAOME*/

.benefits{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.benefits__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.benefits__title{
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 36px;
}
.benefits__text{
    color: #86878B;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 92px;
}
.benefits__wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
}
.benefit{
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}
.benefit__wrap{
    order: 1px solid #EC7979;
    width: 92px;
    height: 92px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefit__img{
    width: 65%;
    height: 65%;
    object-fit: contain;
}
.benefit_title{
    font-family: 'Open Sans', sans-serif;
}

/*CSS SECTION PRICES*/

.wrap_customers{
    height: 760px;
}
.wrap_download{
    height: 425px;
}
.wrap_contacts{
    height: 690px;
}