header{
    background: #000000;
    display: flex;
    align-items: center;
}
.header__container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.logo__link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__img{
    max-width: 87px;
    max-height: 31px;
}
.header__navigation{
    display: flex;
}
.header__menu{
    display: flex;
    align-items: center;
}
.header__item{
    width: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 22px 30px;
}
.header__link:hover{
    cursor: pointer;
}
.header__item:hover{
    background-color: #EC7979;
}
.header__item:active{
    background-color: #AB4949;;
}