.socialmedia{
    background: #F8EFEF;
    padding-top: 31px;
}
.socialmedia__container{
    display: flex;
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto 18px auto;
    /* column-gap: 30px;
    justify-content: center; */
}
.socialmedia__description{

}
.socialmedia__title{

}
.socialmedia__text{
    width: 470px;
}
.socialmedia__icons{
    display: flex;
    column-gap: 30px;
}
.socialmedia__wrap{

}
.socialmedia__link{

}
.socialmedia__icon{

}