header{
    background: #000000;
    padding: 22px 0 22px 0;
}
.header__container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.logo__img{
    max-width: 87px;
    max-height: 31px;
}
.header__navigation{
    display: flex;
}
.header__menu{
    display: flex;
    align-items: center;
}
.header__item{
    width: 114px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
}
.header__link:hover{
    cursor: pointer;
}