.customers{
    padding: 110px 0 108px 0;
    display: flex;
    justify-content: center;
}
.customers__title{
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 80px;
}
.customers__title::after{
    content: "";
    display: block;
    border-bottom: 1px solid #EC7979;
    width: 170px;
    position: absolute;
    left: 50%;
    top: calc(100% + 40px);
    transform: translateX(-50%);
}
.customer_info__text{
    background: #E2E2E2;
    border-radius: 10px;
    color: #86878B;
    font-weight: 400;
    font-size: 18px;
    padding: 38px 25px;
    position: relative;
}
.customer_info__text::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    position: absolute;
    top: 100%;
    left: 70px;
}
.customers__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.customers__text{
    color: #86878B;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 92px;
}
.customers__wrap{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.customer_info{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 66px;
}
.customer_info__item{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.customer_info__wrap{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-right: 30px;
    overflow: hidden;
}
.customer_info__img{
    width: 100%;
}
.customer_info__personal{

}
.customer_info__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 18px;
}
.customer_info__position{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}