.download{
    background-image: url(../media/background_download.png);
    background-size: cover;
    min-height: 425px;
    position: relative;
    padding: 72px 0 72px;
}
.download::after{
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.download__container{
    position: relative;
    z-index: 2;
    margin: 0 auto;
}
.download__title{
    color: #FFFFFF;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 80px;
}
.download__title::after{
    content: "";
    display: block;
    border-bottom: 1px solid #FFFFFF;
    width: 170px;
    position: absolute;
    left: 50%;
    top: calc(100% + 40px);
    transform: translateX(-50%);
}
.download__text{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 80px;
}
.download__btn{
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 16px 0 16px 0;
    max-width: 370px;
    width: 100%;
    background: none;
    border: 1px solid #FFFFFF;
}